.footer {
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000b5;
    color: #fff;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 13px;
    a {
        color: hsl(210, 46%, 95%);
        text-transform: uppercase;
        letter-spacing: 4px;
        font-weight: lighter;
        text-decoration: none;
    }
}